<div fxLayout="column" fxLayoutAlign="start center" class="height-100 background-blu">
  <div fxLayout="column" fxLayoutAlign="center center" class="ques-size">
    <app-question-box class="box-size"></app-question-box>
  </div>

  <div>
    <div class="golden-spo">
      <img class=" golden-cld" src="../../../assets/images/clouds/cloud-1.png" />
      <img class=" golden-spo-logo" src="../../../assets/images/logo-text.png" style="width: 113px" />
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" class="card background border">
      <img
        src="../../../assets/images/logo-text.png"
        style="width: 50px"
        class="img-anim"
      />
      <img
        src="../../../assets/images/logo-text.png"
        style="width: 50px"
        class="img-anim"
      />
      <img
        src="../../../assets/images/logo-text.png"
        style="width: 50px"
        class="img-anim"
      />
      <img
        src="../../../assets/images/logo-text.png"
        style="width: 50px"
        class="img-anim"
      />
    </div>
  </div>
</div>
