<div
  fxLayout="column"
  fxLayoutAlign="space-between center"
  class="main padding-20"
>
  <div class="ques-bx padding-20 border glass flex">
    <h2>سوال اینجا قرار میگیرد</h2>
    <img class="img-bild" src="../../../assets/images/bild copy.png" />
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center space-between" class="ans-bx">
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      class="ans-siz border glass marg-lft"
    >
      <h3>گزینه اول</h3>
      <!-- <img class="img-bild" src="../../../assets/images/bild.png" /> -->
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      class="ans-siz border glass"
    >
      <h3>گزینه دوم</h3>
      <!-- <img class="img-bild" src="../../../assets/images/bild.png" /> -->
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      class="ans-siz border glass marg-lft"
    >
      <h3>گزینه سوم</h3>
      <!-- <img class="img-bild" src="../../../assets/images/bild.png" /> -->
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      class="ans-siz border glass"
    >
      <h3>گزینه چهار</h3>
      <!-- <img class="img-bild" src="../../../assets/images/bild.png" /> -->
    </div>
  </div>
</div>
